<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="service-details-screen">
   <ion-card mode="ios" *ngFor="let item of varianteServicio;let i = index" class="service-details-list">
      <ion-item lines="none" class="item-content">
        <ion-thumbnail slot="start">
          <img [src]="item.description" />
        </ion-thumbnail>
        <ion-label class="lbl">
          <p class="title">{{item.name}}</p>
          <p class="price">{{item.price}}</p>
        </ion-label>
        <ion-checkbox slot="end" mode="md" (ionChange)="onCheckboxChange($event, item)"></ion-checkbox>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <p class="price1">Total Estimated - ${{total}}.00</p>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="outline" shape="round" size="medium" (click)="onBack()">Back</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" expand="block" fill="solid" shape="round" (click)="onApply()">Review and Confirm</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


