/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
*/

.note-label {
  font-weight: bold; /* Negrita */
  font-size: 0.7rem; /* Tamaño pequeño, puedes ajustar este valor */
  color: #333; /* Color de texto oscuro, puedes ajustar según tu diseño */
}

.warning-label {
  font-weight: bold; /* Negrita */
  font-size: 0.8rem; /* Tamaño pequeño */
  color: #FFA500; /* Color naranja para advertencia */
  padding: 10px;
  text-align: center;
}

