<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.

<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-title>Inbox</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button color="light">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar mode="md">
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged()" mode="md">
      <ion-segment-button value="chats">
        <ion-label>Chats</ion-label>
      </ion-segment-button>
      <ion-segment-button value="calls">
        <ion-label>Calls</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="real-chat-list" *ngIf="segment == 'chats'">
    <div class="chat-item-list" (click)="onInbox(i,'chat')" *ngFor="let item of util.userList;let i = index;">
      <div class="first">
        <div class="avatar" [ngStyle]="{'background-image': 'url('+item.image+')'}">
          <div [ngClass]="i % 2==0 ?'online-circle':'offline-circle'"></div>
        </div>
        <div class="name-content">
          <ion-label class="name">{{item.name}}</ion-label>
          <ion-label class="last-message">You can change every details</ion-label>
        </div>
      </div>
      <div class="last">
        <ion-label class="time-bold" *ngIf="i % 2==0">{{i+1}}m ago</ion-label>
        <ion-label class="time" *ngIf="i % 2 !=0"> {{i+1}}m ago</ion-label>
      </div>
    </div>
  </div>
  <div class="real-chat-list" *ngIf="segment == 'calls'">
    <div class="chat-item-list" *ngFor="let item of util.userList;let i = index;">
      <div class="first">
        <div class="avatar" [ngStyle]="{'background-image': 'url('+item.image+')'}">
          <div [ngClass]="i % 2==0 ?'online-circle':'offline-circle'"></div>
        </div>
        <div class="name-content">
          <ion-label class="name">{{item.name}}</ion-label>
          <ion-label class="last-message">You can change every details</ion-label>
        </div>
      </div>
      <div class="last">
        <ion-button size="small" fill="clear">
          <ion-icon slot="icon-only" name="call-outline" color="primary"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content> -->

<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-title>My Bookings</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button color="light">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar mode="md">
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged()" mode="md">
      <ion-segment-button value="manicure">
        <ion-label>Manicure</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pedicure">
        <ion-label>Pedicure</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="booking-screen">
    <div class="booking-list" *ngIf="segment =='manicure'">
      <ion-row class="salon-info-list">
        <ion-col size="6" *ngFor="let item of manicureImages; let i = index">
          <ion-card mode="ios" class="gallery-card">
            <ion-row>
              <ion-col size="12" class="image-container" (click)="openImageModal(item.imageUrl ?? '')">
                <img [src]="item.imageUrl" class="service-image" alt="{{ item.title }}" />
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" class="card-title">
                <ion-label class="service-title">{{ item.title }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <div class="booking-list" *ngIf="segment =='pedicure'">
      <ion-row class="salon-info-list">
        <ion-col size="6" *ngFor="let item of pedicureImages; let i = index">
          <ion-card mode="ios" class="gallery-card">
            <ion-row>
              <ion-col size="12" class="image-container" (click)="openImageModal(item.imageUrl ?? '')">
                <img [src]="item.imageUrl" class="service-image" alt="Service Image"/>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" class="card-title">
                <ion-label class="service-title">{{ item.title }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="imageList.length === 0" class="no-appointments-message">
    No images to display.
  </div>

  <!-- Formulario para subir imagenes
  <div class="image-upload">
    <form (submit)="onSubmit()">  -->
      <!-- Campo para ingresar el título de la imagen
      <ion-item>
        <ion-label position="stacked">Image Title</ion-label>
        <ion-input [(ngModel)]="imageTitle" name="imageTitle" required></ion-input>
      </ion-item> -->

      <!-- Campo para seleccionar el tipo de imagen
    <ion-item>
      <ion-label position="stacked">Image Type</ion-label>
      <ion-select [(ngModel)]="imageType" name="imageType" required>
        <ion-select-option value="Manicure">Manicure</ion-select-option>
        <ion-select-option value="Pedicure">Pedicure</ion-select-option>
      </ion-select>
    </ion-item> -->

      <!-- Campo para seleccionar el archivo
      <ion-item>
        <ion-label position="stacked">Select Image</ion-label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*">
      </ion-item> -->

      <!-- Botón para subir la imagen
      <ion-button expand="block" type="submit" [disabled]="!selectedFile">Upload Image</ion-button>
    </form>
  </div> -->
</ion-content>
