<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-content class="ion-padding">
  <div class="success-page">
    <div id="confettis">
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
    </div>
     <!-- Icono de confirmación -->
     <img src="assets/images/check.png" alt="success" class="img">

     <!-- Mensaje de confirmación del appointment -->
     <ion-label class="title">Appointment Confirmed!</ion-label>
     <ion-label class="sub-title">Your appointment has been successfully created and is pending approval.</ion-label>

     <!-- Información adicional -->
     <ion-label class="sub-title">You will be redirected to the Home page in a few seconds.</ion-label>

     <!-- Spinner de carga -->
     <ion-spinner name="bubbles" color="primary"></ion-spinner>
  </div>
</ion-content>
