<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="md" style="--background: #f8b6d2;">
    <ion-title style="font-weight: bold; font-size: 1.5rem; color: var(--ion-color-dark); width: auto; height: 70px;">
      <!-- Incluimos el logo con menos ancho y letras más grandes -->
      <img src="/assets/images/avatar/AdriNailsDesignFINALES-06.png" alt="AdriNailsDesign Logo"
     style="width: 250px; height: 260px; margin: 0 auto; display: block; vertical-align: middle;">

    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="cut-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="courses-list">
      <ion-icon aria-hidden="true" name="play-circle-outline"></ion-icon>
      <ion-label>Courses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Bookings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gallery">
      <ion-icon aria-hidden="true" name="images-outline"></ion-icon>
      <ion-label>Pictures</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account-info" *ngIf="logged">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onNotification()" *ngIf="!logged">
      <ion-icon aria-hidden="true" name="log-in-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
