/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
*/
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #FF6F91; /* Rosado Suave */
  --ion-color-primary-rgb: 255, 111, 145;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #E66481;
  --ion-color-primary-tint: #FF86A3;

  /** secondary **/
  --ion-color-secondary: #FFC107; /* Dorado Suave */
  --ion-color-secondary-rgb: 255, 193, 7;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #E6AD06;
  --ion-color-secondary-tint: #FFCA22;

  /** tertiary **/
  --ion-color-tertiary: #333333; /* Gris Oscuro */
  --ion-color-tertiary-rgb: 51, 51, 51;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #2E2E2E;
  --ion-color-tertiary-tint: #4D4D4D;

  /** success **/
  --ion-color-success: #2dd36f; /* Puedes mantenerlo si es necesario, o ajustarlo según prefieras */
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #FFC107; /* Dorado Suave */
  --ion-color-warning-rgb: 255, 193, 7;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #E6AD06;
  --ion-color-warning-tint: #FFCA22;

  /** danger **/
  --ion-color-danger: #eb445a; /* Puedes mantenerlo si es necesario, o ajustarlo según prefieras */
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #000000; /* Negro */
  --ion-color-dark-rgb: 0, 0, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1A1A1A;

  /** medium **/
  --ion-color-medium: #92949c; /* Puedes mantenerlo si es necesario, o ajustarlo según prefieras */
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #ffffff; /* Blanco */
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #f0f0f0;
  --ion-color-light-tint: #fafafa;
}
