<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Fill Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="profile-info form-container">
    <div class="header-container">
      <ion-text color="primary">
        <h2>Profile</h2>
      </ion-text>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onUpdate()" class="form-pos">
      <ion-item lines="none" class="input-content">
        <ion-input placeholder="Full Name" type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-content">
        <ion-input placeholder="Email Address" type="email" formControlName="email" readonly></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-content">
        <ion-input placeholder="Phone Number" type="text" formControlName="phoneNumber"></ion-input>
      </ion-item>

      <!-- Si permites que el usuario cambie su contraseña
      <ion-item lines="none" class="input-content">
        <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
      </ion-item>  -->

      <!-- Botón de Guardar -->
      <ion-button expand="block" shape="round" class="submit-btn" [disabled]="!isFormEdited || !profileForm.valid" type="submit">
        {{ isFormEdited ? 'Save' : 'Update' }}
      </ion-button>

      <!-- Botón de Logout -->
      <ion-button expand="block" shape="round" class="logout-btn" (click)="onLogout()">
        Logout
      </ion-button>
    </form>
  </div>
</ion-content>



