<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onHome()" color="dark">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-screen">



    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="logo-content">
        <img src="assets/images/auth.png" alt="" class="img">
      </div>
      <ion-label class="title">Create Your Account</ion-label>
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input type="text" class="form-control" formControlName="name" ></ion-input>
        <span class="warni" *ngIf="isValidField('name')">
          *You must enter your full name.
        </span>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" class="form-control" formControlName="email"></ion-input>
        <span class="warni" *ngIf="isValidField('email')">
          *The email is mandatory and must be valid.
        </span>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" class="form-control" formControlName="password"></ion-input>
        <span class="warni" *ngIf="isValidField('password')">
          *You must enter your password.
        </span>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input  type="text" class="form-control" formControlName="phoneNumber"></ion-input>
        <span class="warni" *ngIf="isValidField('phoneNumber')">
          *You must enter your phone number.
        </span>
      </ion-item>

    <!--  <ion-item lines="none" class="check-item">
        <ion-label>Remember me</ion-label>
        <ion-checkbox slot="start" mode="md"></ion-checkbox>
      </ion-item> -->

      <ion-button shape="round" expand="block" type="submit" color="primary" [disabled]="!registerForm.valid">
        Sign Up
      </ion-button>
    </form>

    <!-- Casilla de verificación para agregar tarjeta de banco
    <ion-item lines="none" class="check-item">
      <ion-label>Add Bank Card</ion-label>
      <ion-checkbox slot="start" mode="md" [(ngModel)]="addBankCard"></ion-checkbox>
    </ion-item> -->

    <!-- Square Payment Form, mostrado si el checkbox está marcado
    <div *ngIf="addBankCard">
      <div id="card-container"></div>
      <button id="card-button" ion-button expand="block" type="button">
        Add Card
      </button>
    </div> -->

     <ion-row class="or-content">
      <ion-col size="4">
        <div class="line"></div>
      </ion-col>
      <ion-col size="4">
        <ion-label class="lbl">or continue with</ion-label>
      </ion-col>
      <ion-col size="4">
        <div class="line"></div>
      </ion-col>
    </ion-row>

  <!-- <div class="social-login">
      <ion-button fill="outline" color="medium" (click)="onNext()">
        <ion-icon slot="icon-only" name="logo-facebook" color="secondary"></ion-icon>
      </ion-button>
      <ion-button fill="outline" color="medium" (click)="onNext()">
        <ion-icon slot="icon-only" name="logo-google" color="danger"></ion-icon>
      </ion-button>
      <ion-button fill="outline" color="medium" (click)="onNext()">
        <ion-icon slot="icon-only" name="logo-apple" color="dark"></ion-icon>
      </ion-button>
    </div> -->

    <ion-button expand="block" fill="clear" shape="round" color="medium" (click)="onBack()">
      <span class="register-lbl-gray">Already have an account ?</span> &nbsp; <span class="register-lbl-bold">Sign
        In</span>
    </ion-button>
  </div>
</ion-content>
