<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onHome()" color="dark">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-screen">

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" autocomplete="new-password">
      <div class="logo-content">
        <img src="assets/images/auth.png" alt="" class="img">
      </div>
      <ion-label class="title">Create Your Account</ion-label>

      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input type="text" class="form-control" formControlName="name" autocomplete="new-password"></ion-input>
        <span class="warni" *ngIf="!isValidField('name') && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)">
          *You must enter your full name.
        </span>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" class="form-control" formControlName="email" autocomplete="new-password"></ion-input>
        <span class="warni" *ngIf="!isValidField('email') && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
          *The email is mandatory and must be valid.
        </span>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" class="form-control" formControlName="password" autocomplete="new-password"></ion-input>
        <span class="warni" *ngIf="!isValidField('password') && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
          *You must enter your password.
        </span>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="text" class="form-control" formControlName="phoneNumber" autocomplete="new-password"></ion-input>
        <span class="warni" *ngIf="!isValidField('phoneNumber') && (registerForm.get('phoneNumber')?.touched || registerForm.get('phoneNumber')?.dirty)">
          *You must enter your phone number.
        </span>
      </ion-item>

      <ion-button shape="round" expand="block" type="submit" color="primary" [disabled]="!registerForm.valid">
        Sign Up
      </ion-button>
    </form>

    <ion-row class="or-content">
      <ion-col size="4">
        <div class="line"></div>
      </ion-col>
      <ion-col size="4">
        <ion-label class="lbl">or continue with</ion-label>
      </ion-col>
      <ion-col size="4">
        <div class="line"></div>
      </ion-col>
    </ion-row>

    <ion-button expand="block" fill="clear" shape="round" color="medium" (click)="onBack()">
      <span class="register-lbl-gray">Already have an account?</span> &nbsp; <span class="register-lbl-bold">Sign In</span>
    </ion-button>
  </div>
</ion-content>
