<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-title>AdriNailsDesign</ion-title>
    <ion-buttons slot="end">
      <!--  <ion-button (click)="onNotification()">
        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onBookmarks()">
        <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
  <!--  <ion-toolbar class="ion-no-border">
    <ion-searchbar placeholder="Search" inputmode="text" type="text" mode="ios"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding">
  <div class="home_screen">
    <ion-label class="greeting-title">{{ greeting }}, {{userName}} 👋</ion-label>
    <div class="sliders">
      <swiper-container #swiper>
        <swiper-slide *ngFor="let post of util.posts">
          <div class="slider-image1" [ngStyle]="{'background-image': 'url(' + post.imagePath + ')'}">
            <div class="offer-details1">
              <h2>{{ post.serviceName }}</h2>
              <p>{{ post.description }}</p>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <div class="breaker"></div>

    <div class="category-links">
      <div class="category-info" (click)="onSalonList('manicure')">
        <div class="circle-content">
          <img src="assets/images/avatar/manicure.jpg" alt="Manicure" class="img">
        </div>
        <ion-label class="name">Manicure</ion-label>
      </div>
      <div class="category-info" (click)="onSalonList('pedicure')">
        <div class="circle-content">
          <img src="assets/images/avatar/pedicure.jpg" alt="Pedicure" class="img">
        </div>
        <ion-label class="name">Pedicure</ion-label>
      </div>
    </div>

    <div class="breaker"></div>

    <div class="services-section">
      <h2 class="section-title">Servicios</h2>
      <div class="services-container">
        <swiper-container #swiper>
          <swiper-slide class="service-card" *ngFor="let service of services">
            <img [src]="service.imagePath" alt="{{ service.name }}" class="service-image" />
            <div class="service-details">
              <h2>{{ service.name }}</h2>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>

    <div class="breaker"></div>

    <div class="testimonials">
      <h3>What Our Clients Say</h3>
      <div class="testimonial">
        <p>"Amazing service and beautiful nails!"</p>
        <div class="rating">
          ★★★★★
        </div>
      </div>
      <div class="testimonial">
        <p>"The best manicure I've ever had."</p>
        <div class="rating">
          ★★★★★
        </div>
      </div>
    </div>

    <div class="breaker"></div>

    <div class="social-media-links">
      <a href="https://www.youtube.com/@adrinailsdesign8537" target="_blank">
        <ion-icon name="logo-youtube"></ion-icon>
      </a>
      <a href="https://www.instagram.com/adrinailsdesign" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a href="https://www.tiktok.com/@adrinailsdesign" target="_blank">
        <ion-icon name="logo-tiktok"></ion-icon>
      </a>
      <a href="https://www.facebook.com/AdriNailsDesign" target="_blank">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
    </div>

    <!-- <div class="main-title">
          <ion-label class="title">NearBy Your Location</ion-label>
          <ion-button expand="block" fill="clear" shape="round" color="primary" size="small">
            See All
          </ion-button>
        </div> -->

    <!-- <div class="segment-content">
          <ion-button expand="block" shape="round" color="primary" size="small">
            All
          </ion-button>
          <ion-button expand="block" shape="round" fill="outline" color="primary" size="small"
            *ngFor="let item of util.categories;" (click)="onSalonList(item.name)">
            {{item.name}}
          </ion-button>
        </div>

        <ion-row class="salon-list" *ngFor="let item of util.salonList;let i = index;">
          <ion-col size="3" (click)="onSalonInfo(i)">
            <div class="cover" [ngStyle]="{'background-image': 'url('+item.cover+')'}"></div>
          </ion-col>
          <ion-col size="7" (click)="onSalonInfo(i)">
            <div class="name-content">
              <ion-label class="title">{{item.name}}</ion-label>
              <ion-label class="address">{{item.address}}</ion-label>
              <div class="other-info">
                <div class="icon">
                  <ion-icon name="location" color="primary"></ion-icon>
                  <ion-label class="title">{{item.rate}}</ion-label>
                </div>
                <div class="space"></div>
                <div class="icon">
                  <ion-icon name="star" color="primary"></ion-icon>
                  <ion-label class="title">{{item.distance}}</ion-label>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size="1">
            <ion-button fill="clear" size="small">
              <ion-icon slot="icon-only" [name]="i % 2==0 ? 'bookmark':'bookmark-outline'" color="primary"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row> -->
  </div>
</ion-content>
