/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
*/
ion-footer {
  margin-top: auto; /* Empuja el botón hacia abajo */
}

.no-appointments-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajusta la altura según lo necesites */
  font-size: 18px;
  color: #999; /* Color de texto, puedes cambiarlo */
  text-align: center;
  padding: 20px;
}

.date1 {
  font-size: 12px;
  font-family: 'bold';
  color: var(--ion-color-dark);
  text-align: start;

  margin-right: 2px;
}

.slot-name {
  border: 1px solid #FF69B4; /* Rosa fuerte */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.slot-name.disabled {
  background-color: #f2f2f2;
  color: #ccc;
  cursor: not-allowed;
}

.slot-name.enabled {
  background-color: #fff;
  color: #000;
}

.slot-name.selected {
  background-color: #FF69B4; /* Rosa fuerte para el seleccionado */
  color: #fff;
}


