/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
*/
ion-footer {
  margin-top: auto; /* Empuja el botón hacia abajo */
}

.no-appointments-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajusta la altura según lo necesites */
  font-size: 18px;
  color: #999; /* Color de texto, puedes cambiarlo */
  text-align: center;
  padding: 20px;
}

.date1 {
  font-size: 12px;
  font-family: 'bold';
  color: var(--ion-color-dark);
  text-align: start;

  margin-right: 2px;
}

