<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-title>My Bookings</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button color="light">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar mode="md">
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged()" mode="md">
      <ion-segment-button value="book">
        <ion-label>Appointment</ion-label>
      </ion-segment-button>
      <ion-segment-button value="upcoming">
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Completed</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cancelled">
        <ion-label>Cancelled</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="full-content">
  <div class="booking-screen">
    <div class="booking-list" *ngIf="segment =='book'">
      <div class="slot-screen">
        <ion-label class="title">Select Date</ion-label>
        <ion-datetime [(ngModel)]="selectedDate" presentation="date" style="max-width: 100%;" [min]="minDate"
          (ionChange)="onDateChange($event)">
        </ion-datetime>
        <ion-label class="title" *ngIf="selectedDate!==null">Select Hours</ion-label>

        <div class="slots-section">
          <ion-row class="slots">
            <ion-col size="3" *ngFor="let item of formattedSlot">
              <div class="slot-name" [ngClass]="{
                     'selected': isSlotSelected(item.time),
                     'disabled': !item.isAvailable,
                     'enabled': item.isAvailable
                   }" (click)="item.isAvailable ? save(item.time) : null">
                <ion-label class="name">
                  {{ item.time }} <!-- Muestra la hora -->
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <ion-button *ngIf="selectedDate!==null" (click)="onPayment()" expand="block" shape="round" fill="outline"
          [disabled]="!isFormValid()" class="botonapp">
          Continue
        </ion-button>
      </div>
    </div>

    <div class="booking-list" *ngIf="segment == 'upcoming'">
      <ion-card mode="ios" class="cart-content" *ngFor="let item of upcomingAppointments; let i = index;">
        <div class="top-content">
          <ion-label class="date1">Date: {{item.appointmentDate}} </ion-label>
          <ion-label class="date1">Time: {{convertTo12HourFormat(item.appointmentTime)}} </ion-label>
        </div>
        <ion-row class="salon-info-list">
          <ion-col size="4">
            <div class="cover" [ngStyle]="{'background-image': 'url('+ item.imagePath +')'}"></div>
          </ion-col>
          <ion-col size="8">
            <div class="name-content">
              <ion-label class="title">{{item.serviceName}}</ion-label>
              <ion-label class="service-title">Cost: ${{item.totalCost}}</ion-label>
              <ion-label class="service-extras">Services Extras: {{item.serviceVariantIds.length}}</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <div class="bottom-content">
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" fill="outline" shape="round" size="medium" (click)="item.id ? presentModal(item.id, item.customerEmail) : null" class="botoncancel">
                Cancel Booking
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
      <div *ngIf="upcomingAppointments.length === 0" class="no-appointments-message">
        No upcoming appointments to display.
      </div>
    </div>

    <div class="booking-list" *ngIf="segment =='completed'">
      <ion-card mode="ios" class="cart-content" *ngFor="let item of completedAppointments;let i = index;">
        <div class="top-content">
          <ion-label class="date">{{item.appointmentDate}} {{item.appointmentTime}}</ion-label>
          <div class="end-item">
            <ion-label class="completed">Completed</ion-label>
          </div>
        </div>
        <ion-row class="salon-info-list">
          <ion-col size="4">
            <div class="cover" [ngStyle]="{'background-image': 'url('+ item.imagePath +')'}"></div>
          </ion-col>
          <ion-col size="8">
            <div class="name-content">
              <ion-label class="title">{{item.serviceName}}</ion-label>
              <ion-label class="address">{{item.totalCost}}</ion-label>
              <ion-label class="service-title">Services:</ion-label>
              <ion-label class="service-name"> <span class="name"
                  *ngFor="let sub of util.categories.slice(0,6);let i = index;"> {{sub.name}} <span *ngIf="i < 5"
                    class="separate">,</span> </span> </ion-label>
            </div>
          </ion-col>
        </ion-row>
        <div class="bottom-content">
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" fill="outline" shape="round" size="small" (click)="review(item.id)"  [disabled]="item.review != null">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon> Leave a Review
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
      <div *ngIf="completedAppointments.length === 0" class="no-appointments-message">
        No completed appointments to display.
      </div>
    </div>

    <div class="booking-list" *ngIf="segment =='cancelled'">
      <ion-card mode="ios" class="cart-content" *ngFor="let item of cancelledAppointments;let i = index;">
        <div class="top-content">
          <ion-label class="date1">Date: {{item.appointmentDate}} Time: {{convertTo12HourFormat(item.appointmentTime)}}</ion-label>
          <div class="end-item1">
            <ion-label class="cancelled1">Cancelled</ion-label>
          </div>
        </div>
        <ion-row class="salon-info-list">
          <ion-col size="4">
            <div class="cover" [ngStyle]="{'background-image': 'url('+ item.imagePath +')'}"></div>
          </ion-col>
          <ion-col size="8">
            <div class="name-content">
              <ion-label class="title">{{item.serviceName}}</ion-label>
            <ion-label class="service-title">Cost: ${{item.totalCost}}</ion-label>
            <ion-label class="service-extras">Services Extras: {{item.serviceVariantIds.length}}</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <div class="bottom-content">
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" fill="outline" shape="round" size="small" (click)="item.id ? cambiarStatus(item.id) : null" class="botoncancel">
                Recuperar Booking
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
      <div *ngIf="cancelledAppointments.length === 0" class="no-appointments-message">
        No cancelled appointments to display.
      </div>
    </div>
  </div>
</ion-content>
