<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-title>My Bookings</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button color="light">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar mode="md">
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged()" mode="md">
      <ion-segment-button value="book">
        <ion-label>Appointment</ion-label>
      </ion-segment-button>
      <ion-segment-button value="upcoming">
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Completed</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cancelled">
        <ion-label>Cancelled</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="booking-screen">
    <div class="booking-list" *ngIf="segment =='book'">
      <div class="slot-screen">
        <ion-label class="title">Select Date</ion-label>
        <ion-datetime  [(ngModel)]="selectedDate"  presentation="date" style="max-width: 100%;" [min]="minDate" (ionChange)="onDateChange($event)">
        </ion-datetime>
        <ion-label class="title" *ngIf="selectedDate!==null">Select Hours</ion-label>
        <div class="slots-section">
          <ion-row class="slots">
            <!-- Morning slots -->
            <ion-col size="3" *ngFor="let item of availableMorningSlots">
              <div
                class="slot-name"
                [ngClass]="{'disabled': !item.isAvailable, 'enabled': item.isAvailable, 'selected': (selectedSlot?.toString()) == item.time}"
                (click)="item.isAvailable ? save(item.time) : null">
                <ion-label class="name">
                  {{item.time}}
                </ion-label>
              </div>
            </ion-col>

            <!-- Afternoon slots -->
            <ion-col size="3" *ngFor="let item of availableAfternoonSlots">
              <div
                class="slot-name"
                [ngClass]="{'disabled': !item.isAvailable, 'enabled': item.isAvailable, 'selected': (selectedSlot?.toString()) == item.time}"
                (click)="item.isAvailable ? save(item.time) : null">
                <ion-label class="name">
                  {{item.time}}
                </ion-label>
              </div>
            </ion-col>
          </ion-row>



      <!--    <ion-row class="slots">
            <ion-col size="3" *ngFor="let item of availableMorningSlots">
              <div class="slot-name" [ngStyle]="{'background-color':selectedSlot == item ? '#F89C02': '#fff'}"
                (click)="save(item)">
                <ion-label class="name"
                  [ngStyle]="{'color':selectedSlot == item ? '#fff': '#F89C02'}">{{item}}:00AM</ion-label>
              </div>
            </ion-col>
            <ion-col size="3" *ngFor="let item of availableAfternoonSlots">
              <div class="slot-name" [ngStyle]="{'background-color':selectedSlot == item ? '#F89C02': '#fff'}"
                (click)="save(item)">
                <ion-label class="name"
                  [ngStyle]="{'color':selectedSlot == item ? '#fff': '#F89C02'}">{{item}}:00PM</ion-label>
              </div>
            </ion-col>
          </ion-row> -->
        </div>
        <!-- <ion-label class="title">Select Specialist</ion-label>
              <div class="stories-chat-list">
                <swiper-container #swiper slides-per-view="4.2" autoplay="true">
                  <swiper-slide *ngFor="let item of util.userList;let i = index;">
                    <div class="avtar-list" (click)="saveSpecialist(item.name)"
                      [ngStyle]="{'border':selectedSpecialist == item.name ? '2px solid #F89C02': '','border-radius':selectedSpecialist == item.name ? '10px': ''}">
                      <div class="avatar" [ngStyle]="{'background-image': 'url('+item.image+')'}"></div>
                      <ion-label class="title">{{item.name.split(' ')[0]}}</ion-label>
                      <ion-label class="sub-title">Hair Stylist</ion-label>
                    </div>
                  </swiper-slide>
                </swiper-container>
              </div> -->
      </div>
      <ion-footer>
        <ion-button (click)="onPayment()" expand="block" fill="solid" shape="round" color="primary"
          [disabled]="!isFormValid()">
          Continue
        </ion-button>
      </ion-footer>
    </div>

    <div class="booking-list" *ngIf="segment =='upcoming'">
      <ion-card mode="ios" class="cart-content" *ngFor="let item of upcomingAppointments;let i = index;">
        <div class="top-content">
          <ion-label class="date1">Date: {{item.appointmentDate}} </ion-label>
          <div class="end-item">
            <ion-label class="date1">Time: {{item.appointmentTime}}</ion-label>
            <!-- <ion-label class="remind">Remind me</ion-label>
                 <ion-toggle class="toggle" mode="md" [checked]="i % 2 == 0 ? true: false"></ion-toggle> -->
          </div>
        </div>
        <ion-row class="salon-info-list">
          <ion-col size="4">
            <div class="cover" [ngStyle]="{'background-image': 'url('+ item.imagePath +')'}"></div>
          </ion-col>
          <ion-col size="8">
            <div class="name-content">
              <ion-label class="title">{{item.serviceName}}</ion-label>
              <ion-label class="service-title">Cost: ${{item.totalCost}}</ion-label>
              <ion-label class="address">Services Extras: {{upcomingAppointments.length}}</ion-label>
             <!-- <ion-label class="service-name"> <span class="name"
                  *ngFor="let sub of util.categories.slice(0,6);let i = index;"> {{sub.name}} <span *ngIf="i < 5"
                    class="separate">,</span> </span> </ion-label> -->
            </div>
          </ion-col>
        </ion-row>
        <div class="bottom-content">
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" fill="outline" shape="round" size="small" (click)="item.id ? presentModal(item.id,item.customerEmail) : null">
                Cancel Booking
              </ion-button>
            </ion-col>
          <!--  <ion-col size="6">
              <ion-button expand="block" fill="solid" shape="round" size="small" (click)="onReceipt()">
                View E-Receipt
              </ion-button>
            </ion-col> -->
          </ion-row>
        </div>
      </ion-card>
      <div *ngIf="upcomingAppointments.length === 0" class="no-appointments-message">
        No upcoming appointments to display.
      </div>
    </div>

    <div class="booking-list" *ngIf="segment =='completed'">
      <ion-card mode="ios" class="cart-content" *ngFor="let item of completedAppointments;let i = index;">
        <div class="top-content">
          <ion-label class="date">{{item.appointmentDate}} {{item.appointmentTime}}</ion-label>
          <div class="end-item">
            <ion-label class="completed">Completed</ion-label>
          </div>
        </div>
        <ion-row class="salon-info-list">
          <ion-col size="4">
            <div class="cover" [ngStyle]="{'background-image': 'url('+ item.imagePath +')'}"></div>
          </ion-col>
          <ion-col size="8">
            <div class="name-content">
              <ion-label class="title">{{item.serviceName}}</ion-label>
              <ion-label class="address">{{item.totalCost}}</ion-label>
              <ion-label class="service-title">Services:</ion-label>
              <ion-label class="service-name"> <span class="name"
                  *ngFor="let sub of util.categories.slice(0,6);let i = index;"> {{sub.name}} <span *ngIf="i < 5"
                    class="separate">,</span> </span> </ion-label>
            </div>
          </ion-col>
        </ion-row>
        <div class="bottom-content">
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" fill="outline" shape="round" size="small" (click)="review(item.id)"  [disabled]="item.review != null">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon> Leave a Review
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
      <div *ngIf="completedAppointments.length === 0" class="no-appointments-message">
        No completed appointments to display.
      </div>
    </div>

    <div class="booking-list" *ngIf="segment =='cancelled'">
      <ion-card mode="ios" class="cart-content" *ngFor="let item of cancelledAppointments;let i = index;">
        <div class="top-content">
          <ion-label class="date">{{item.appointmentDate}} {{item.appointmentTime}}</ion-label>
          <div class="end-item">
            <ion-label class="cancelled">Cancelled</ion-label>
          </div>
        </div>
        <ion-row class="salon-info-list">
          <ion-col size="4">
            <div class="cover" [ngStyle]="{'background-image': 'url('+ item.imagePath +')'}"></div>
          </ion-col>
          <ion-col size="8">
            <div class="name-content">
              <ion-label class="title">{{item.serviceName}}</ion-label>
              <ion-label class="address">{{item.totalCost}}</ion-label>
              <ion-label class="service-title">Services:</ion-label>
              <ion-label class="service-name"> <span class="name"
                  *ngFor="let sub of util.categories.slice(0,6);let i = index;"> {{sub.name}} <span *ngIf="i < 5"
                    class="separate">,</span> </span> </ion-label>
            </div>
          </ion-col>
        </ion-row>
        <div class="bottom-content">
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" fill="outline" shape="round" size="small" (click)="item.id ? cambiarStatus(item.id) : null">
                Recuperar Booking
              </ion-button>
            </ion-col>
          <!--  <ion-col size="6">
              <ion-button expand="block" fill="solid" shape="round" size="small" (click)="onReceipt()">
                View E-Receipt
              </ion-button>
            </ion-col> -->
          </ion-row>
        </div>
      </ion-card>
      <div *ngIf="cancelledAppointments.length === 0" class="no-appointments-message">
        No cancelled appointments to display.
      </div>
    </div>
  </div>
</ion-content>
